html {
    height: 100%;
}

body {
    min-height: 100%;
    font-family: arial, helvetica, sans-serif;
    font-size: 14px;
    #background-image: url(bg.gif);
    margin: 20px;
    padding: 0;
}

p {
    line-height: 21px;
}

h1 {
    #background-image: linear-gradient(rgb(68, 68, 68), rgb(34, 34, 34));
    color: #34495e;
    font-family: "Open Sans","lucida grande","Segoe UI",arial,verdana,"lucida sans unicode",tahoma,sans-serif;
    font-size: 32px;
    font-style: normal;
    font-variant: normal;
    font-weight: 900;
    line-height: 40px;
    margin: 10px 0;
    margin-bottom: 7px;
    padding: 4px;
}

#container {
    width: 920px !important;
    height: inherit;
    background-color: #fff;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;

}

#container a {
    text-decoration: none;
}

.navigate-icon {
    margin-right: 6px;
    width: 12px;
    height: 12px;
}

#path-navigation {
    float: left;
    width: 100%;
    line-height: 32px;
    font-size: 18px;
    margin-left: 20px;
    margin-bottom: 26px;
    font-family: "Open Sans","lucida grande","Segoe UI",arial,verdana,"lucida sans unicode",tahoma,sans-serif;
}

#path-navigation a {
    color: #2895f1;
}

#actions-bar {
    display: inline-block;
    width: 100%;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.btn {
    float: left;
    margin-right: 10px;
    width: 110px;
    height: 30px;
    border: none;
    border-radius: 6px;
    background-color: #2ecc71;
    color: #ffffff;
    font-size: 17px;
    line-height: 1.471;
    text-align: center;
    cursor: pointer;
}

.btn:hover {
    color: #ffffff;
    background-color: #58d68d;
    border-color: #58d68d;
}

#file_grid {
    width: inherit;
    display: block;
    overflow: hidden;
}

.file_block {
    float: left;
    width: 180px;
    height: 180px;
    margin: 2px;
}

.file_block_selected {
    float: left;
    width: 180px;
    height: 180px;
    background: rgba(0,102,204,0.3);
    border: 1px solid blue;
    box-sizing: border-box;
    margin: 2px;
}

.file_block img, .file_block_selected img {
    width: 100px;
    height: 100px;
    margin: 30px 40px 0px 40px;
}

.file_name {
    width: 160px;
    margin: 8px 10px 0px 10px;
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

#new_file_name {
    width: 160px;
    margin: 8px 10px 0px 10px;
    white-space: nowrap;
}
